@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 폰트 스타일 정의공간 */
.titleB {
  font-family: var(--Family, "Wanted Sans Variable");
  font-size: var(--Size-Title, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Line-Height-Title, 32px); 
  letter-spacing: -0.48px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  min-width: 360px;
  max-width: 600px;
  margin: auto;
  font-family: 'Wanted Sans', sans-serif;
  background-color: #f0f2f5;
}

.ant-layout-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-layout-content {
  width: 100%;
  max-width: 540px; /* 모바일 화면에 적합한 최대 너비 */
  margin: 0 auto;
  /* padding: 0 10px; */
}

.ant-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ant-btn-link {
  border-radius: 30px;
}

.ant-btn-link:hover {
  background-color: #5642cc;
}